# U.S. Medical Insurance Costs

#### This project requires me to take note of how information is organized within the insurance.csv file. Investigate anything of particular interest. Learn more about particular patients, and produce the findings that are relevant.

## Project Objectives:
##### - Find out the average age of the patients in the dataset.
##### - Analyze where a majority of the individuals are from.
##### - Look at the different costs between smokers vs. non-smokers.
##### - Figure out what the average age is for someone who has at least one child in this dataset.
#####

In [204]:
import pandas as pd

In [205]:
import csv

## Dataframe information:

In [206]:
df = pd.read_csv("insurance.csv")

In [207]:
df.head(10)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520
5   31  female  25.740         0     no  southeast   3756.62160
6   46  female  33.440         1     no  southeast   8240.58960
7   37  female  27.740         3     no  northwest   7281.50560
8   37    male  29.830         2     no  northeast   6406.41070
9   60  female  25.840         0     no  northwest  28923.13692

In [208]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

##### The above shows how many columns and rows are in the dataset.
##### The data types are also displayed

## Data collection for analysis

In [209]:
# Insurance dictionary plus lists of each column, for analysis

age = []
sex = []
bmi = []
children = []
smoker = []
region = []
charges = []

with open("insurance.csv", newline="") as insurance_csv_file:
    insurance_dict = csv.DictReader(insurance_csv_file)
    for row in insurance_dict:
        age.append(row["age"])
        sex.append(row["sex"])
        bmi.append(row["bmi"])
        children.append(row["children"])
        smoker.append(row["smoker"])
        region.append(row["region"])
        
        charges.append(row["charges"])

## Average Calculator

In [219]:
def AverageCalculator(lst, name):
    
    total = 0
    
    float_lst = map(float, lst)
    converted_list = list(float_lst)
    for i in converted_list:
        total += i
    average = total / len(converted_list)
    
    if name == "bmi":
        print(f"The average {name} in the medical insurance data is: {round(average, 2)}")
    
    else:
        print(f"The average {name} in the medical insurance data is: {round(average)}")

## Age Analysis:

In [220]:
print(90 * "-")
average_age = AverageCalculator(age, "age")
print(90 * "-")

------------------------------------------------------------------------------------------
The average age in the medical insurance data is: 39
------------------------------------------------------------------------------------------

In [212]:
print(90 * "-")
print(f"The highest age is {max(age_list)} in the medical insurance data")
print(90 * "-")

------------------------------------------------------------------------------------------
The highest age is 64 in the medical insurance data
------------------------------------------------------------------------------------------

In [213]:
print(90 * "-")
print(f"The lowest age is {min(age_list)} in the medical insurance data")
print(90 * "-")

------------------------------------------------------------------------------------------
The lowest age is 18 in the medical insurance data
------------------------------------------------------------------------------------------

## Gender Analysis:

In [214]:
sex_list = set(sex)
freq = {}
for word in sex_list:
    freq[word] = sex.count(word)
    
print(90 * "-")
print("We can see that male and female patients are spread fairley evenly in the medical insurance data:\n")
print(f"MALE:{freq.get('male', 'caanot find data')}")
print(f"FEMALE:{freq.get('female', 'caanot find data')}")
print(90 * "-")

------------------------------------------------------------------------------------------
We can see that male and female patients are spread fairley evenly in the medical insurance data:

MALE:676
FEMALE:662
------------------------------------------------------------------------------------------

## BMI Analysis:

In [221]:
print(90 * "-")
average_age = AverageCalculator(bmi, "bmi")
print(90 * "-")

------------------------------------------------------------------------------------------
The average bmi in the medical insurance data is: 30.66
------------------------------------------------------------------------------------------