# U.S. Medical Insurance Costs

#### This project requires me to take note of how information is organized within the insurance.csv file. Investigate anything of particular interest. Learn more about particular patients, and produce the findings that are relevant.

## Project Objectives:
##### - Find out the average age of the patients in the dataset.
##### - Analyze where a majority of the individuals are from.
##### - Look at the different costs between smokers vs. non-smokers.
##### - Figure out what the average age is for someone who has at least one child in this dataset.
#####

In [1]:
import pandas as pd

In [2]:
import csv

## Dataframe information:

In [3]:
df = pd.read_csv("insurance.csv")

In [4]:
df.head(10)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520
5   31  female  25.740         0     no  southeast   3756.62160
6   46  female  33.440         1     no  southeast   8240.58960
7   37  female  27.740         3     no  northwest   7281.50560
8   37    male  29.830         2     no  northeast   6406.41070
9   60  female  25.840         0     no  northwest  28923.13692

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

##### The above shows how many columns and rows are in the dataset.
##### The data types are also displayed

## Data collection for analysis

In [6]:
# Insurance dictionary plus lists of each column, for analysis

age = []
sex = []
bmi = []
children = []
smoker = []
region = []
charges = []

with open("insurance.csv", newline="") as insurance_csv_file:
    insurance_dict = csv.DictReader(insurance_csv_file)
    for row in insurance_dict:
        age.append(row["age"])
        sex.append(row["sex"])
        bmi.append(row["bmi"])
        children.append(row["children"])
        smoker.append(row["smoker"])
        region.append(row["region"])
        
        charges.append(row["charges"])

## Conversion Calculator

In [7]:
class ConversionCalculator:
    
    def average_calculator(self, lst, name):

        total = 0

        float_lst = map(float, lst)
        converted_list = list(float_lst)
        for i in converted_list:
            total += i
        
        average = total / len(converted_list)

        if name == "bmi":
            print(90 * "-")
            print(f"The average {name} in the medical insurance data is: {round(average, 2)}.")
            print(90 * "-")
            
        elif name == "children":
            print(90 * "-")
            print(f"The average amount of {name} patients have in the medical insurance data is: {round(average, 2)}.")
            print(90 * "-")
        
        elif name == "charge":
            print(90 * "-")
            print(f"The average {name} in the medical insurance data is: ${round(average, 2)}.")
            print(90 * "-")
        
        else:
            print(90 * "-")
            print(f"The average {name} in the medical insurance data is: {round(average)}.")
            print(90 * "-")
            
    def conversion(self, lst):
        
        float_list = map(float, lst)
        converted_lst = list(float_list)
        
        global round_list
        
        round_list = [round(num, 2) for num in converted_lst]
        
        return round_list
    
    def min_max(self, lst, name):
        
        if name == "children":
            
            print(90 * "-")
            print(f"The highest number of {name} a patient has is {max(lst)} in the medical insurance data.")
            print(90 * "-")
            
            print(90 * "-")
            print(f"The lowest number of {name} a patient has is {min(lst)} in the medical insurance data.")
            print(90 * "-")
        
        elif name == "charge":
            print(90 * "-")
            print(f"The highest {name} is ${max(self.conversion(lst))} in the medical insurance data.")
            print(90 * "-")
        
            print(90 * "-")
            print(f"The lowest {name} is ${min(self.conversion(lst))} in the medical insurance data.")
            print(90 * "-")
        
        else:
            print(90 * "-")
            print(f"The highest {name} is {max(self.conversion(lst))} in the medical insurance data.")
            print(90 * "-")
        
            print(90 * "-")
            print(f"The lowest {name} is {min(self.conversion(lst))} in the medical insurance data.")
            print(90 * "-")
            
    def word_count(self, lst):
        
        word_count = set(lst)
        
        global freq
        
        freq = {}
        
        for word in word_count:
            freq[word] = lst.count(word)
            
        return

## Age Analysis:

In [8]:
age_info = ConversionCalculator()
age_info.average_calculator(age, "age")
age_info.min_max(age, "age")

------------------------------------------------------------------------------------------
The average age in the medical insurance data is: 39.
------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------
The highest age is 64.0 in the medical insurance data.
------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------
The lowest age is 18.0 in the medical insurance data.
------------------------------------------------------------------------------------------

## Gender Analysis:

In [9]:
gender_info = ConversionCalculator()
gender_info.word_count(sex)
    
print(90 * "-")
print("We can see that male and female patients are spread fairley evenly in the medical insurance data:\n")
print(f"MALE: {freq.get('male', 'cannot find data')}")
print(f"FEMALE: {freq.get('female', 'cannot find data')}")
print(90 * "-")

------------------------------------------------------------------------------------------
We can see that male and female patients are spread fairley evenly in the medical insurance data:

MALE: 676
FEMALE: 662
------------------------------------------------------------------------------------------

## BMI Analysis:

In [10]:
bmi_info = ConversionCalculator()
bmi_info.average_calculator(bmi, "bmi")
bmi_info.min_max(bmi, "bmi")

------------------------------------------------------------------------------------------
The average bmi in the medical insurance data is: 30.66.
------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------
The highest bmi is 53.13 in the medical insurance data.
------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------
The lowest bmi is 15.96 in the medical insurance data.
------------------------------------------------------------------------------------------

## Children Analysis

In [11]:
children_info = ConversionCalculator()
children_info.average_calculator(children, "children")
children_info.min_max(children, "children")

------------------------------------------------------------------------------------------
The average amount of children patients have in the medical insurance data is: 1.09.
------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------
The highest number of children a patient has is 5 in the medical insurance data.
------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------
The lowest number of children a patient has is 0 in the medical insurance data.
------------------------------------------------------------------------------------------

## Smoker Analysis

In [12]:
smoker_info = ConversionCalculator()
smoker_info.word_count(smoker)
    
print(90 * "-")
print("We can see that there are considerably more non-smokers in the medical insurance data than smokers:\n")
print(f"SMOKER:{freq.get('yes', 'cannot find data')}")
print(f"NON-SMOKER:{freq.get('no', 'cannot find data')}")
print(90 * "-")

------------------------------------------------------------------------------------------
We can see that there are considerably more non-smokers in the medical insurance data than smokers:

SMOKER:274
NON-SMOKER:1064
------------------------------------------------------------------------------------------

## Region Analysis

In [13]:
region_info = ConversionCalculator()
region_info.word_count(region)
    
print(90 * "-")
print("We can see that the regions are even in the medical insurance data:\n")
print(f"SOUTHWEST:{freq.get('southwest', 'cannot find data')}")
print(f"NORTHWEST:{freq.get('northwest', 'cannot find data')}")
print(90 * "-")

------------------------------------------------------------------------------------------
We can see that the regions are even in the medical insurance data:

SOUTHWEST:325
NORTHWEST:325
------------------------------------------------------------------------------------------

## Price charge Analysis

In [14]:
price_info = ConversionCalculator()
price_info.average_calculator(charges, "charge")
price_info.min_max(charges, "charge")

------------------------------------------------------------------------------------------
The average charge in the medical insurance data is: $13270.42.
------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------
The highest charge is $63770.43 in the medical insurance data.
------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------
The lowest charge is $1121.87 in the medical insurance data.
------------------------------------------------------------------------------------------

## Results Table

In [23]:
def average(lst):
    
    total = 0

    float_lst = map(float, lst)
    converted_list = list(float_lst)
    for i in converted_list:
        total += i
        
    average = total / len(converted_list)
    
    return round(average, 2)

In [41]:
average_age = average(age)
average_bmi = average(bmi)
average_children = average(children)
average_charge = average(charges)
min_round_charges = ConversionCalculator()
max_round_charges = ConversionCalculator()
min_charge = min_round_charges.conversion(charges)
max_charge = max_round_charges.conversion(charges)

results_table = {
"ANALYSIS" : ["Age", "GENDER","bmi", "SMOKER", "REGION", "CHARGES"],
"AVERAGE" : [average_age, "N/A", average_bmi, "N/A", "N/A", average_charge],
"MIN" : [min(age), min(sex), min(bmi), min(smoker), min(region), min(min_charge)],
"MAX" : [max(age), max(sex), max(bmi), max(smoker), max(region), max(max_charge)],
}

In [42]:
df = pd.DataFrame(results_table)

### Here are the results:

In [45]:
print(df)

  ANALYSIS   AVERAGE        MIN        MAX
0      Age     39.21         18         64
1   GENDER       N/A     female       male
2      bmi     30.66      15.96      53.13
3   SMOKER       N/A         no        yes
4   REGION       N/A  northeast  southwest
5  CHARGES  13270.42    1121.87   63770.43